 <ion-content>
  <div class="main_content_div">
    <ion-icon color="light" name="close" (click)="close()"></ion-icon>
    <ion-chip class="dash" color="light">ASTO SERVICE APP (ASA)</ion-chip><br><br>
    <ion-back-button></ion-back-button>
    <ion-row style="margin-bottom: 10px;">
      <ion-col size="3" (click)="tabID = 1" [class.active]="tabID == 1" (click)="openAstoinfo()">
        <ion-icon name="logo-web-component"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 2" [class.active]="tabID == 2" (click)="openDev()">
        <ion-icon name="logo-nodejs"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 3" [class.active]="tabID == 3"  (click)="openTeam()">
        <!-- <ion-icon name="logo-usd"></ion-icon> -->
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 4" [class.active]="tabID == 4" (click)="openSupport()">
        <!-- <ion-icon name="logo-usd"></ion-icon> -->
        <ion-icon name="logo-closed-captioning"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" [class.active]="tabID == 1">
       <p><ion-label>ASA</ion-label><br>
      </ion-col>
      <ion-col size="3" [class.active]="tabID == 2">
        <p><ion-label>TECHNOLOGY</ion-label><br>
      </ion-col>
      <ion-col size="3" [class.active]="tabID == 3">
        <p> <ion-label>TEAM</ion-label>
       </ion-col>
      <ion-col size="3" [class.active]="tabID == 4">
       <p><ion-label>SUPPORT</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-slides>  
    <ion-slides pager="true" [options]="slideOpts">  
    <ion-slide>  
      <img src="assets/images/asa4.png"/>     
      <h4><b>(Asto Service App)</b></h4>  
      <p>ASA adalah suatu aplikasi yang bertujuan untuk meningkatkan kualitas alur komunikasi serta sebagai media penampung aspirasi, komplain, dan bantuan yang bersifat genting.</p>  
    </ion-slide>  

    <ion-slide>  
      <img src="assets/images/loj.jpg"/>     
      <h4><b>(Asto Service App)</b></h4>  
      <p>Salam Kami Dengan Penuh Cinta</p>  
    </ion-slide>  

    <ion-slide>  
      <img src="assets/images/gios.png"/>     
      <h4><b>soon</b></h4>  
      <p>Download our App Today & Experience Endless Possibilities</p>  
    </ion-slide>  

  </ion-slides>
  </ion-slides>
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>
