<!--
  Authors : bunchdevelopers (Rahul Jograna)
  Website : https://bunchdevelopers.com/
  App Name : ionic6Template Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://bunchdevelopers.com/license
  Copyright and Good Faith Purchasers © 2021-present bunchdevelopers.
 -->
 <ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div"><ion-chip class="dash" color="light">Menu Informasi</ion-chip>
    <ion-row style="margin-bottom: 10px;">
      <ion-col size="3" (click)="tabID = 1" [class.active]="tabID == 1" (click)="openAstoinfo()">
        <ion-icon name="logo-web-component"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 2" [class.active]="tabID == 2"
        style="border-left: 1px solid lightgrey;border-right: 1px solid lightgrey">
        <ion-icon name="logo-buffer"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 3" [class.active]="tabID == 3">
        <!-- <ion-icon name="logo-usd"></ion-icon> -->
        <ion-icon name="contract-sharp"></ion-icon>
      </ion-col>
      <ion-col size="3" (click)="tabID = 4" [class.active]="tabID == 4">
        <!-- <ion-icon name="logo-usd"></ion-icon> -->
        <ion-icon name="walk-sharp"></ion-icon>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col size="3" [class.active]="tabID == 1">
       <p><ion-label>ASTO</ion-label><br>
        <ion-label>Service</ion-label></p> 
      </ion-col>
      <ion-col size="3" [class.active]="tabID == 2">
        <p><ion-label>Developer</ion-label><br>
        <ion-label>L.O.J</ion-label></p> 
      </ion-col>
      <ion-col size="3" [class.active]="tabID == 3">
        <p> <ion-label>My</ion-label>
        <ion-label>Team</ion-label></p>
      </ion-col>
      <ion-col size="3" [class.active]="tabID == 4">
       <p><ion-label>Hire</ion-label>
        <ion-label>Me</ion-label></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
