:root {  
    --ion-safe-area-top: 20px;  
    --ion-safe-area-bottom: 22px;  
  }  
  .swiper-slide {  
    display: block;  
  }  
  ion-slide > h2 {  
    margin-top: 2.8rem;  
  }  
  ion-slide > img {  
    max-height: 50%;  
    max-width: 60%;  
    margin: 36px 0;  
  }  
  
  .main_content_div {
    padding: 10px;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .title {
        font-size: 24px;
        font-family: "bold";
        color: #ffca22;
        padding-bottom: 15px;
      }
      .text {
        font-size: 14px;
        width: 70%;
        font-family: "semi-bold";
        color: #ffca22;
        padding-bottom: 15px;
      }
  
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
  
      ion-icon {
        font-size: 34px;
        color: #ffca22;
      }
      ion-label {
        color: #ffca22;
      }
    }
    .active {
      ion-icon {
        color:  #ffca22;
      }
      ion-label {
        color:  #ffca22;
    }
  
  }
  
  .dash{
    
    color: white;
    font-family: "bold";
    display: flex;
        flex-direction: column;
        .name_lbl {
          margin-bottom: 5px;
          font-family: "bold";
          color: white;
        }
        .center {
          font-size: 14px;
          display: flex;
          margin-left: 2rem;
         
  }
  }
  }
  