<ion-content>
  <div class="main_content_div">
    <div class="flex_title">
      <ion-icon color="light" name="close" (click)="close()"></ion-icon>
    </div>
    <ion-row style="margin-bottom: 10px;">
      <ion-col size="12">
        <ion-icon name="logo-closed-captioning"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" [class.active]="tabID == 1">
        <p>
          <ion-label>SUPPORTED BY</ion-label><br>
      </ion-col>
    </ion-row>
  </div>
  <ion-slides>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/images/astra.png" />
        <p><ion-label>Mari Kembangkan Masa Depan Bersama!
          Fondasi kami, idemu, bersama-sama kita maju dan berkembang untuk menciptakan masa depan bersama.</ion-label></p>
        https://career.astra.co.id/
        </ion-slide>
    </ion-slides>
  </ion-slides>
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>