<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-button (click)="onSkip()" *ngIf="isLastSlide == false">
        <ion-label>Lewati</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollY="false">
  <ion-slides mode="md" pager="false" scrollbar="ios" #slides (ionSlideDidChange)="slideChanged($event)">

    <ion-slide>
      <div class="img" [style.backgroundImage]="'url(assets/images/asaserv_welcome.png)'"></div>
      <div class="title">
        <ion-label class="heading">Asto Service App</ion-label>
        <ion-label class="sub_heading">Help Better Life With ASA!</ion-label>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="img" [style.backgroundImage]="'url(assets/images/ASA_Life.png)'"></div>
      <div class="title">
        <ion-label class="heading">ASA - LIFE</ion-label>
        <ion-label class="sub_heading">Ready to serve!</ion-label>
      </div>
    </ion-slide>


    <ion-slide>
      <div class="img" [style.backgroundImage]="'url(assets/images/ASA_SGMS.png)'"></div>
      <div class="title">
        <ion-label class="heading">ASA - SGMS</ion-label>
        <ion-label class="sub_heading">Coming Soon..</ion-label>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="img" [style.backgroundImage]="'url(assets/images/ASA_Even.png)'"></div>
      <div class="title">
        <ion-label class="heading">ASA - EVENT</ion-label>
        <ion-label class="sub_heading">Coming Soon..</ion-label>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="img" [style.backgroundImage]="'url(assets/images/ASA_Shop.png)'"></div>
      <div class="title">
        <ion-label class="heading">ASA - SHOP</ion-label>
        <ion-label class="sub_heading">Coming Soon..</ion-label>
      </div>
    </ion-slide>


    <ion-slide>
      <ion-label class="heading">Design by</ion-label>
      <div class="img" [style.backgroundImage]="'url(assets/images/loj-application.png)'"></div>
      <div style="margin-top: -25px;" class="title">
        <ion-label style="margin-top: 0px;" class="heading">Website: http://asabeta.com/</ion-label>
        <ion-label class="sub_heading">Contact: +62 813-5091-6736</ion-label>
      </div>
    </ion-slide>
  </ion-slides>
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>

<ion-footer class="ion-no-border btn">
  <ion-button class="content_button" (click)="onBack()" *ngIf="index > 0">
    Back
  </ion-button>
  <ion-button class="content_button" (click)="onNext()" *ngIf="isLastSlide == false">
    Next
  </ion-button>
  <ion-button class="content_button" (click)="onSkip()" *ngIf="isLastSlide == true">
    Finish
  </ion-button>
</ion-footer>