ion-header {
  height: 10vh;
  ion-toolbar {
    ion-buttons {
      border-radius: 50%;
      // border: 1px solid lightgray;
      padding: 5px 2px 5px 2px;
      margin: 10px;

      ion-label {
        font-weight: bold;
        color: #e84980;
      }
    }
  }
}

.heading {
  font-family: "regular";
  font-weight: bold;

}

.sub_heading {
  font-family: "regular";
}

.ion-padding {
  overflow-y: hidden;
}

ion-content {
  overflow-y: hidden;
}

ion-slides {
  height: 75vh;

  ion-slide {
    // padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;

    .img {
      // margin-top: 3rem;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .title {
      margin: 20px 0px 0px 0px;
    }
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 35px 0px;
  .content_button {
    width: 30%;
    --border-radius: 20px;
  }
  .content_next_button {
    width: 30%;
    --border-radius: 20px;
    position: absolute;
    right: 20px;
    height: 60px;
    --background: linear-gradient(#5916c4, #5916c4);
  }
}

.dot {
  height: 5px;
  width: 7px;
  border-radius: 50%;
  background-color: #5916c4;
  margin: 0px 2px;
}

.active {
  height: 5px;
  width: 10px;
  border-radius: 50%;
  border-radius: 20px;
  background-color: #5916c4;
  margin: 0px 2px;
}