<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-label color="light"> Dashboard Aduan Maintenance </ion-label>
  </ion-item>
</ion-header>

<ion-item lines="none" style="display: block; padding: 10px 0 10px 0">
  <ion-thumbnail>
    <img src="assets/images/cus.png" />
  </ion-thumbnail>
  <div class="name">
    <ion-label class="center">
      <div>
        <div>Selamat Datang {{Username}}</div>
      </div>
    </ion-label>
  </div>
</ion-item>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-content class="data-record">
      <ion-list *ngIf="isNotMtUser()">
        <ion-item
          button
          *ngFor="let data of DataRecord; let i = index"
          (click)="openModal(data)"
        >
          <ion-label style="margin: 10 0 0 0">
            <h2>{{data.user_name}}</h2>
            <p>Deskripsi: {{data.jenis_aduan}} ( {{data.lokasi}} )</p>
            <p>Status: {{data.status}}</p>
            <p *ngIf=" data.pic_nrp !== null">
              PIC: {{data.pic_nrp}} {{data.pic_name}}
            </p>
            <p *ngIf=" data.priority !== null">Priority: {{data.priority}}</p>
            <p *ngIf=" data.duration !== null">
              durasi: {{data.duration.substring(0, 10)}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="!isNotMtUser()">
        <div *ngFor="let data of DataRecord; let i = index">
          <ion-item *ngIf="data.pic_nrp === nrpUser ">
            <ion-label
              style="margin: 10 0 0 0"
              button
              (click)="openModalUpdateStatus(data)"
            >
              <h2>{{data.user_name}}</h2>
              <p>Deskripsi: {{data.jenis_aduan}} ( {{data.lokasi}} )</p>
              <p>Status: {{data.status}}</p>
              <p>Priority: {{data.priority}}</p>
              <p>durasi: {{data.duration.substring(0, 10)}}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
      <div style="height: 20px"></div>
    </ion-content>
  </div>

  <ng-template #noAccess>
    <ion-content>
      <ion-label class="center">
        <div class="no-access">
          <img src="assets/images/no-access.png" />
          <div>Maaf,</div>
          <div>Anda tidak punya akses !</div>
        </div>
      </ion-label>
    </ion-content>
  </ng-template>
  <ion-fab (click)="onBack()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
