<ion-content>
  <ion-header class="ion-no-border">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button (click)="util.openSideMenu()" color="primary">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label color="primary">
     Rincian Tugas HK Non-Kamar
    </ion-label>
    <ion-buttons slot="end">
      <ion-icon (click)="onBack()" name="home-outline" color="primary"></ion-icon>
    </ion-buttons>
    </ion-item>
   </ion-header>
   
  <div class="main_content ion-padding">

    <ion-label class="sub_heading">Deskripsi</ion-label>
    <ion-label class="sub_heading">Rincian Komponen Ruangan Non-Kamar</ion-label>

  <div>
  <form class="container" [formGroup]="FormNonKamar" (ngSubmit)="submitNonKamar()">
    <ion-item>  
    <ion-label class="sub_heading">Pilihan Mess </ion-label>
        <ion-select formControlName="mess">
          <ion-select-option ngvalue="Mess Cheerful">Mess Cheerful</ion-select-option>
          <ion-select-option ngvalue="Mess Funtastik">Mess Funtastik</ion-select-option>
          <ion-select-option ngvalue="Mess Joyfull">Mess Joyfull</ion-select-option>
          <ion-select-option ngvalue="Mess Safety">Mess Safety</ion-select-option>
          <ion-select-option ngvalue="Mess Integrity">Mess Integrity</ion-select-option> 
          <ion-select-option ngvalue="Mess Synergy">Mess Synergy</ion-select-option>
          <ion-select-option ngvalue="Mess Greatful">Mess Greatful</ion-select-option>
          <ion-select-option ngvalue="Mess Happyness">Mess Happyness</ion-select-option>
          <ion-select-option ngvalue="Mess Powerfull">Mess Powerfull</ion-select-option>
        </ion-select></ion-item>
        <ion-item lines="none">
          <ion-note color="dark" class="ion-margin-start">
      <ion-label class="sub_heading">Checklist Komponen Ruang Non-Kamar </ion-label>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvkacajendelakusen" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Kaca Jendela Kusen</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvcermin" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Cermin</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvdispenser" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Dispenser</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvac" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV AC</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvfurniture" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Furniture</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvraktv" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Rak TV</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvtiraikarpet" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Tirai Karpet</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvdinding" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Dinding</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="ruangtvlantai" [checked]="isChecked"></ion-checkbox>
            <ion-label>Ruang TV Lantai</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridortempatsampah" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Tempat Sampah</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorpintu" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Pintu</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorlantaisudutlantai" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Lantai Sudut Lantai</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorkeset" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Keset</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorpantry" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Pantry</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorwastafelchromefixture" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Wastafel Chrome Fixture</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorperalatanmakanrakpiring" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Peralatan Rak Piring</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorpintudinding" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Pintu Dinding</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="koridorkancajendelakusen" [checked]="isChecked"></ion-checkbox>
            <ion-label>Koridor Kaca Jendela Kusen</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toiletpintudinding" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Pintu Dinding</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toilettempatsampah" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Tempat Sampah</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toiletwastafelchromefixture" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Wastafel Chrome Fixture</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toileturinoirselangtoiletbowl" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Rinoi Selang Toilet Bowl</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toiletshowerareacurtain" [checked]="isChecked"></ion-checkbox>
            <ion-label>Lemari</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toiletlantaisudutlantai" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Lantai Sudut Lantai</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary"  slot="start" formControlName="toiletteras" [checked]="isChecked"></ion-checkbox>
            <ion-label>Toilet Teras</ion-label>
        </ion-item>
          </ion-note>
        </ion-item>
          <ion-button type="submit" expand="block" color="primary">Submit</ion-button>  
         </form>
    </div>
  </div>
</ion-content>
