<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="util.openSideMenu()" color="light">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
      Menu Info Aduan Laundry
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main-header"></div>
  <ion-grid>
    <ion-note color="light" class="ion-margin-start">
      <b></b>
    </ion-note>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-subtitle color="dark">Klik Aduan Baru</ion-card-subtitle>
        <ion-card-subtitle color="dark">Deskripsi</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="dark" *ngFor="let item of aduan" (click)="openAdlaundry()">
        Silahkan mengisi aduan apabila ditemukan hal-hal yang tidak berkenan
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="" />
      <ion-card-header>
        <ion-card-subtitle color="dark">Informasi Aduan Laundry</ion-card-subtitle>
        <ion-card-subtitle color="dark">List Aduan Anda</ion-card-subtitle>
        <ion-progress-bar value="0" buffer="1"></ion-progress-bar>
      </ion-card-header>
      <ul color="dark" *ngFor="let data of DataRecord; let i = index">
        <li>Jenis Pakaian : {{data.jenis_pakaian}}</li>
        <li>Jenis deviasi :{{data.jenis_deviasi}}</li>
        <li>Tanggal :{{data.tanggal_laundry.slice(0, 10)}}</li>
        <li>Mess: {{data.mess}}</li>
        <li class="warna">Status :{{data.status}}</li>
        <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
      </ul>
    </ion-card>
  </ion-grid>
</ion-content>