<ion-content>
  <div class="main_content_div">
    <div class="flex_title">
      <ion-icon color="light" name="close" (click)="close()"></ion-icon>
    </div>
    <ion-row style="margin-bottom: 10px;">
      <ion-col size="12">
        <ion-icon name="logo-web-component"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" [class.active]="tabID == 1">
        <p>
          <ion-label>ASA FEATURE</ion-label><br>
      </ion-col>
    </ion-row>
  </div>
  <ion-slides>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/images/ASA_Life.png" />
        <h3>ASA LIFE</h3>
        <p>Mempermudah Pengguna Pada Lingkungan Mess</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/ASA_SGMS.png" />
        <h3>ASA SGMC</h3>
        <p><b>Mempermudah Penginformasian Keadaan Darurat</b> <br> Coming Soon.....</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/ASA_Even.png" />
        <h3>ASA EVEN</h3>
        <p><b>Mempermudah Penginformasian Keadaan Darurat</b><br> Coming Soon.....</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/ASA_Shop.png" />
        <h3>ASA SHOP</h3>
        <p><b>Mempermudah Penginformasian Keadaan Darurat</b><br> Coming Soon.....</p>
      </ion-slide>
    </ion-slides>
  </ion-slides>
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>