<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger">Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signout()">
        <ion-label>Exit</ion-label>
        <ion-icon slot="end" name="exit-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="dark">
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-header">
    <ion-chip class="dash" color="light">DASHBOARD RATING CATERING</ion-chip>
  </div>
  <ion-item lines="none">
    <ion-thumbnail>
      <img src="assets/images/cus.png" />
    </ion-thumbnail>
    <div class="name">
      <ion-label class="center">
        <div>
          <div>
            Selamat Datang {{Username}}
          </div>
        </div>
      </ion-label>
    </div>
  </ion-item>
  <div *ngIf="this.serviceService.isHasAccess('CATERING', 'RATING', 'VIEW'); else noAccess">
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button *ngFor="let data of DataRecord; let i = index" (click)="openModal(data)">
          <ion-label>
            <h2>User: {{data.user.name}}</h2>
            <p>Saran: {{data.saran}}</p>
            <p>Poin: {{data.nilai1 + data.nilai2 + data.nilai3 + data.nilai4 + data.nilai5 + data.nilai6 + data.nilai7 +
              data.nilai8}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>

  <ng-template #noAccess>
    <ion-content>
      <ion-label class="center">
        <div class="no-access">
          <img src="assets/images/no-access.png" />
          <div>Maaf,</div>
          <div>Anda tidak punya akses !</div>
        </div>
      </ion-label>
    </ion-content>
  </ng-template>

</ion-content>