<ion-content>
  <div class="main_content_div">
    <ion-icon color="light" name="close" (click)="close()"></ion-icon>
    <ion-chip class="dash" color="light">Task Barcode Kamar</ion-chip><br><br>
    <ion-back-button></ion-back-button>
      <ion-row style="margin-bottom: 10px;">
      <ion-col size="12">
        <img src="assets/svg/barcode.svg"/>  
      </ion-col>
      
    </ion-row>
  </div>

 
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>
