<ion-content [fullscreen]="true"  scrollY="false">
  <div class="main_content_div">
    <ion-note color="light" class="ion-margin-start">
      <div class="ion-text-center"><br>
        <ion-label>ASTO SERVICE APPLICATION (ASA)</ion-label><br>
        <ion-label> Where It All begin!</ion-label><br><br>
      </div>
    </ion-note>
    <div class="ion-text-center"><br>
      <img src="assets/images/lojj.png"/>
    </div>
  </div>
  <ion-grid>
    <ion-card-content class="ion-no-margin">
     <ion-card-header class="ion-no-margin">
   <form [formGroup]="FormLogin" (ngSubmit)="login()">
     <ion-item>
       <div color="dark"  slot="start">
         <ion-icon slot="icon-only" name="person" ></ion-icon>
     </div>
       <ion-input type="text" name="nrp" placeholder="Masukkan NRP" formControlName="nrp"></ion-input>
     </ion-item> 
     <div class="error-container">
       <ng-container *ngFor="let validation of validations.nrp">
         <div class="error-message" *ngIf="FormLogin.get('nrp').hasError(validation.type) && (FormLogin.get('nrp').dirty || FormLogin.get('nrp').touched)">
           <span>{{ validation.message }}</span>
           <br>
         </div>
       </ng-container>
     </div> 
 
     <ion-item>
       <div color="dark"  slot="start">
         <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
     </div>
       <ion-input type="text" name="password" placeholder="Masukkan Password" formControlName="password" *ngIf="showPasswordText"></ion-input>
       <ion-input type="password" name="password" placeholder="Masukkan Password"   formControlName="password" *ngIf="!showPasswordText"></ion-input>
       <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="showPasswordText" name="eye"  slot="end" class="ion-align-self-center"></ion-icon>
       <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="!showPasswordText" name="eye-off" slot="end" class="ion-align-self-center"></ion-icon>
     </ion-item>
     <div class="error-container">
       <ng-container *ngFor="let validation of validations.password">
         <div class="error-message" *ngIf="FormLogin.get('password').hasError(validation.type) && (FormLogin.get('password').dirty || FormLogin.get('password').touched)">
           <span>{{ validation.message }}</span>
           <br>
         </div>
       </ng-container>
     </div>
     <ion-col size="12">
     <ion-button class="expand-block" type="submit"  [disabled]="!FormLogin.valid">Login</ion-button>
     </ion-col>
   </form>
   
 </ion-card-header>
</ion-card-content>
   </ion-grid>
</ion-content>