<ion-content>
  <ion-header class="ion-no-border">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button (click)="util.openSideMenu()">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label color="dark">
      Form Tugas House Keeping
    </ion-label>
    <ion-buttons slot="end">
      <ion-icon (click)="onBack()" name="home-outline"></ion-icon>
    </ion-buttons>
    </ion-item>
   </ion-header>
   
  <div class="main_content ion-padding">

    <ion-label class="sub_heading">Deskripsi</ion-label>
    <ion-label class="sub_heading">Silahkan mengisi tugas House Keeping</ion-label>

  <div>
  <form class="container" [formGroup]="FormTugasHk" (ngSubmit)="submitTugasHk()">
    <ion-item>  
    <ion-label>Pilihan Mess </ion-label>
        <ion-select formControlName="mess">
          <ion-select-option ngvalue="Mess Cheerful">Mess Cheerful</ion-select-option>
          <ion-select-option ngvalue="Mess Funtastik">Mess Funtastik</ion-select-option>
          <ion-select-option ngvalue="Mess Joyfull">Mess Joyfull</ion-select-option>
          <ion-select-option ngvalue="Mess Safety">Mess Safety</ion-select-option>
          <ion-select-option ngvalue="Mess Integrity">Mess Integrity</ion-select-option> 
          <ion-select-option ngvalue="Mess Synergy">Mess Synergy</ion-select-option>
          <ion-select-option ngvalue="Mess Greatful">Mess Greatful</ion-select-option>
          <ion-select-option ngvalue="Mess Happyness">Mess Happyness</ion-select-option>
          <ion-select-option ngvalue="Mess Powerfull">Mess Powerfull</ion-select-option>
        </ion-select></ion-item>  
      <ion-item><ion-input type="text" placeholder="Masukkan No Kamar" formControlName="no_kamar"></ion-input></ion-item>
      <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
      </form>
    </div>
  </div>
</ion-content>
