<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>Detail Rating</ion-title>
    <ion-button slot="end" (click)="dismissModal()">Close</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <p>1. Bagaimana kebersihan kantin kami saat anda makan? <b>{{data.nilai1}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>2. Apakah anda menyukai cara kami menyajikan makan? <b>{{data.nilai2}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>3. Bagaimana cara Waiters kami memberi salam/menyapa anda? <b>{{data.nilai3}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>4. Apakah Waiters kami sudah senyum pada anda? <b>{{data.nilai4}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>5. Bagaimana pilihan menu kami saat ini? <b>{{data.nilai5}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>6. Bagaimana aroma makanan kami saat ini? <b>{{data.nilai6}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>7. Bagaimana rasa makanan kami saat ini? <b>{{data.nilai7}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>8. Bagaimana tekstur makanan kami saat ini? <b>{{data.nilai8}} poin </b></p>
  </ion-item>
  <ion-item>
    <p>9. Menu makanan <b>{{data.waktu}} </b></p>
  </ion-item>
</ion-content>