<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>Detail Rating</ion-title>
    <ion-button slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <p>Poin pertanyaan no 1 : {{data.nilai1}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 2 : {{data.nilai2}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 3 : {{data.nilai3}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 4 : {{data.nilai4}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 5 : {{data.nilai5}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 6 : {{data.nilai6}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 7 : {{data.nilai7}}</p>
  </ion-item>
  <ion-item>
    <p>Poin pertanyaan no 8 : {{data.nilai8}}</p>
  </ion-item>
</ion-content>