<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>Update Status</ion-title>
    <ion-button slot="end" (click)="dismissModal()">Close</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <div>
      <p style="font-size: 13; margin: 0;">Status</p>
      <p style="margin: 14px 0 0 0 ; padding: 0 0 6px 0;">{{status}}</p>
    </div>
    <ion-button *ngIf="pic_nrp !== null" slot="end" (click)="openModalUpdateStatus()">update</ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="floating">PIC</ion-label>
    <ion-select [formControl]="picInput" value="{{pic_nrp}}">
      <ion-select-option *ngFor="let data of usersMt" value="{{data.nrp}}">{{data.nrp}} ( {{data.name}} )
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Durasi</ion-label>
    <ion-datetime value="{{(duration) ? duration.substring(0, 10) : ''}}" [formControl]="durasiInput"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Priority</ion-label>
    <ion-select [formControl]="priorityInput" value={{priority}}>
      <ion-select-option value="IMPORTANT">Important</ion-select-option>
      <ion-select-option value="CRITICAL">Critical</ion-select-option>
      <ion-select-option value="IMPORTANT_CRITICAL">Important & Critical</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" (click)="updateDetail()" class="ion-margin-top">
    Update
  </ion-button>
</ion-content>