<div class="ion-text-center">
  <div class="content ion-padding">
    <ion-text color="primary">
      <h3 class="ion-no-margin">Ubah PIC dan Status Aduan</h3>
    </ion-text>
    <ion-text color="dark">
      <p>
        Pilih PIC, durasi waktu penyelesaian, dan Priority terlebih dahulu, agar
        dapat diproses lebih lanjut oleh petugas Maintenance.
      </p>
    </ion-text>
    <ion-button
      color="{{ statusBagde(status) }}"
      (click)="openModalUpdateStatus()"
      >{{ status }}</ion-button
    >
    <ion-item>
      <ion-label position="floating">PIC</ion-label>
      <ion-select [formControl]="picInput">
        <ion-select-option *ngFor="let data of usersMt" value="{{ data.nrp }}"
          >{{ data.nrp }} ( {{ data.name }} )
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Durasi</ion-label>
      <ion-datetime
        value="{{ duration ? duration.substring(0, 10) : '' }}"
        [formControl]="durasiInput"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Priority</ion-label>
      <ion-select [formControl]="priorityInput" value="{{ priority }}">
        <ion-select-option value="IMPORTANT">Important</ion-select-option>
        <ion-select-option value="CRITICAL">Critical</ion-select-option>
        <ion-select-option value="IMPORTANT_CRITICAL"
          >Important & Critical</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="updateDetail()" class="ion-margin-top">
      Update
    </ion-button>
  </div>
</div>
