<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="onBack()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
      Dashboard Aduan Housekeeping
    </ion-label>
  </ion-item>
</ion-header>

<ion-item lines="none">
  <ion-thumbnail>
    <img src="assets/images/cus.png" />
  </ion-thumbnail>
  <div class="name">
    <ion-label class="center">
      <div>
        <div>
          Selamat Datang {{Username}}
        </div>
      </div>
    </ion-label>
  </div>
</ion-item>

<ion-content [fullscreen]="true">
  <div *ngIf="this.serviceService.isHasAccess('HOUSEKEEPING', 'COMPLAINT', 'VIEW'); else noAccess">
    <ion-content class="data-record">
      <ion-list>
        <ion-item button *ngFor="let data of DataRecord; let i = index" (click)="openModal(data)">
          <ion-label style="margin: 10 0 0 0 ;">
            <h2>{{data.user_name}}</h2>
            <p>Deskripsi: {{data.deskripsi}}</p>
            <p>Status: {{data.status.slice(0, 8)}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>

  <ng-template #noAccess>
    <ion-content>
      <ion-label class="center">
        <div class="no-access">
          <img src="assets/images/no-access.png" />
          <div>Maaf,</div>
          <div>Anda tidak punya akses !</div>
        </div>
      </ion-label>
    </ion-content>
  </ng-template>

</ion-content>