<ion-content [fullscreen]="true" scrollY="false">
  <ion-header class="ion-no-border">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button (click)="util.openSideMenu()" color="light">
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label color="light">
        Info House Keeping
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon (click)="onBack()" name="chevron-back-outline" color="light"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-header>

  <div class="main-header"></div>
  <ion-grid>
    <ion-note color="light" class="ion-margin-start">
      <b></b>
    </ion-note>
    <ion-card>
      <div style="display: flex; justify-content: space-between;">
        <ion-card-header>
          <ion-card-subtitle color="dark">Klik Tambah Aduan Baru</ion-card-subtitle>
          <ion-card-subtitle color="dark">Deskripsi</ion-card-subtitle>
        </ion-card-header>
        <ion-buttons slot="end">
          <ion-icon style="font-size: 40px; padding: 0 20px;" (click)="openAdhk()" name="add-circle"></ion-icon>
        </ion-buttons>
      </div>
      <ion-card-content style="padding-top: 0;" color="dark">
        <p>Silahkan mengisi aduan apabila ditemukan hal-hal yang tidak berkenan</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="dark">Informasi Aduan House Keeping</ion-card-subtitle>
        <ion-card-subtitle color="medium">List Aduan Anda</ion-card-subtitle>
        <ion-progress-bar value="0" buffer="1"></ion-progress-bar>
      </ion-card-header>
      <div>
        <div style="padding: 0 20px 20px 20px ;" color="dark" *ngFor="let data of DataRecord; let i = index">
          <p style="margin: 0;">Deskripsi: {{data.deskripsi}}</p>
          <p style="margin: 0;">Lokasi : {{data.lokasi}}</p>
          <p style="margin: 0;" class="warna">Status:  {{ (data.status == 'CLEANING_PROGRESS') ? 'CLEANING' : data.status}}</p>
          <ion-progress-bar value="{{getValueStatusBar(data.status)}}" buffer="{{getValueStatusBar(data.status)}}"></ion-progress-bar>
        </div>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>