<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="signout()" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
     Dashboard Aduan Catering
    </ion-label>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-thumbnail>
      <img src="assets/images/cus.png" />
    </ion-thumbnail>
    <div class="name">
      <ion-label class="center">
        <div>
          <div>
            Selamat Datang {{Username}}
          </div>
        </div>
      </ion-label>
    </div>
  </ion-item>
  <div *ngIf="this.serviceService.isHasAccess('CATERING', 'COMPLAINT', 'VIEW'); else noAccess">
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button *ngFor="let data of DataRecord; let i = index" (click)="openModal(data)">
          <ion-label>
            <h2>{{data.user_nrp}} {{data.user_name}}</h2>
            <p>Deskripsi: {{data.kritik_saran}}</p>
            <p>Status: {{data.status}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>

  <ng-template #noAccess>
    <ion-content>
      <ion-label class="center">
        <div class="no-access">
          <img src="assets/images/no-access.png" />
          <div>Maaf,</div>
          <div>Anda tidak punya akses !</div>
        </div>
      </ion-label>
    </ion-content>
  </ng-template>

</ion-content>