<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-label color="light"> Panel Dashboard </ion-label>
  </ion-item>
</ion-header>

<ion-item lines="none" style="display: block; padding: 10px 0 10px 0">
  <ion-thumbnail>
    <img src="assets/images/cus.png" />
  </ion-thumbnail>
  <div class="name">
    <ion-label class="center">
      <div>
        <div>Selamat Datang {{Username}}</div>
      </div>
    </ion-label>
  </div>
</ion-item>

<ion-content [fullscreen]="true">
  <div class="account">
    <ion-label class="head_lbl">Informasi Aduan</ion-label>
    <div class="info">
      <ion-item lines="none"
      *ngIf="this.serviceService.isHasAccess('CATERING', 'COMPLAINT', 'VIEW');>
        <ion-icon
          name="restaurant-outline"
          color="primary"
          style="margin-right: 10px"
        ></ion-icon>
        <ion-label>Catering</ion-label>
        <ion-icon
          slot="end"
          name="chevron-forward"
          color="medium"
          (click)="dashCat()"
        ></ion-icon>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="this.serviceService.isHasAccess('LAUNDRY', 'COMPLAINT', 'VIEW');"
      >
        <ion-icon
          name="shirt-outline"
          color="primary"
          style="margin-right: 10px"
        ></ion-icon>
        <ion-label>Laundry</ion-label>
        <ion-icon
          slot="end"
          name="chevron-forward"
          color="medium"
          (click)="dashLaundry()"
        ></ion-icon>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="this.serviceService.isHasAccess('HOUSEKEEPING', 'COMPLAINT', 'VIEW');"
      >
        <ion-icon
          name="bed-outline"
          color="primary"
          style="margin-right: 10px"
        ></ion-icon>
        <ion-label>House Keeping</ion-label>
        <ion-icon
          slot="end"
          name="chevron-forward"
          color="medium"
          (click)="dashHk()"
        ></ion-icon>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="this.serviceService.isHasAccess('MAINTENANCE', 'COMPLAINT', 'VIEW');"
      >
        <ion-icon
          name="construct-outline"
          color="primary"
          style="margin-right: 10px"
        ></ion-icon>
        <ion-label>Maintenance</ion-label>
        <ion-icon
          slot="end"
          name="chevron-forward"
          color="medium"
          (click)="dashMain()"
        ></ion-icon>
      </ion-item>
    </div>
  </div>

  <div class="other">
    <ion-label class="head_lbl">Informasi Tugas</ion-label>
    <ion-item
      lines="none"
      *ngIf="this.serviceService.isHasAccess('HOUSEKEEPING', 'TASK', 'VIEW');"
    >
      <ion-icon
        name="bed-outline"
        color="primary"
        style="margin-right: 10px"
      ></ion-icon>
      <ion-label>House Keeping</ion-label>
      <ion-icon
        slot="end"
        name="chevron-forward"
        color="medium"
        (click)="dashTgsHk()"
      ></ion-icon>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="this.serviceService.isHasAccess('MAINTENANCE', 'TASK', 'VIEW');"
    >
      <ion-icon
        name="construct-outline"
        color="primary"
        style="margin-right: 10px"
      ></ion-icon>
      <ion-label>Maintenance</ion-label>
      <ion-icon
        slot="end"
        name="chevron-forward"
        color="medium"
        (click)="dashTgsMt()"
      ></ion-icon>
    </ion-item>
  </div>

  <div
    class="other"
    *ngIf="this.serviceService.isHasAccess('CATERING', 'RATING', 'VIEW');"
  >
    <ion-label class="head_lbl">Informasi Rating</ion-label>
    <ion-item lines="none">
      <ion-icon
        name="restaurant-outline"
        color="primary"
        style="margin-right: 10px"
      ></ion-icon>
      <ion-label>Catering</ion-label>
      <ion-icon
        slot="end"
        name="chevron-forward"
        color="medium"
        (click)="dashRating()"
      ></ion-icon>
    </ion-item>
  </div>
  <ion-fab (click)="onBack()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
