<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="util.openSideMenu()" color="light">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
     Dashboard
    </ion-label>
  </ion-item>
</ion-header>

 <ion-content [fullscreen]="true">
   <ion-item lines="none">
    <ion-thumbnail>
      <img src="assets/images/cus.png"/>
    </ion-thumbnail>
    <div class="name">
      <ion-label class="center"><div>
        <div>
        Selamat Datang {{Username}}
        </div>
      </div></ion-label>
    </div>
  </ion-item>

    <div class="account">
    <ion-label class="head_lbl">Informasi Aduan</ion-label>
    <div class="info">
      <ion-item lines="none">
        <ion-icon name="restaurant-outline" color="primary" style="margin-right: 10px;"></ion-icon>
        <ion-label>Catering</ion-label>
        <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashCat()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="shirt-outline" color="primary" style="margin-right: 10px;"></ion-icon>
        <ion-label>Laundry</ion-label>
        <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashLaundry()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="bed-outline" color="primary" style="margin-right: 10px;"></ion-icon>
        <ion-label>House Keeping</ion-label>
        <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashHk()"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="construct-outline" color="primary" style="margin-right: 10px;"></ion-icon>
        <ion-label>Maintenance</ion-label>
        <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashMain()"></ion-icon>
      </ion-item>
    </div>
  </div>

  <div class="other">
    <ion-label class="head_lbl">Informasi Tugas</ion-label>
    <ion-item lines="none">
      <ion-icon name="bed-outline" color="primary" style="margin-right: 10px;"></ion-icon>
      <ion-label>House Keeping</ion-label>
      <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashTgsHk()"></ion-icon>
      </ion-item>
    <ion-item lines="none">
      <ion-icon name="construct-outline" color="primary" style="margin-right: 10px;"></ion-icon>
      <ion-label>Maintenance</ion-label>
      <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashTgsMt()"></ion-icon>
    </ion-item>
  </div>

  <div class="other">
    <ion-label class="head_lbl">Informasi Rating</ion-label>
    <ion-item lines="none">
      <ion-icon name="restaurant-outline" color="primary" style="margin-right: 10px;"></ion-icon>
      <ion-label>Catering</ion-label>
      <ion-icon slot="end" name="chevron-forward" color="medium" (click)="dashRating()"></ion-icon>
    </ion-item>

  </div>
</ion-content>

