<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="util.openSideMenu()" color="light">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light"> Info Aduan Maintenance </ion-label>
  </ion-item>
  <div class="main-header"></div>
  <div style="height: 50px"></div>
  <ion-grid>
    <ion-card>
      <div style="display: flex; justify-content: space-between">
        <ion-card-header>
          <ion-card-subtitle color="dark"
            >Klik Tambah Aduan Baru</ion-card-subtitle
          >
          <ion-card-subtitle color="dark">Deskripsi</ion-card-subtitle>
        </ion-card-header>
        <ion-buttons slot="end">
          <ion-icon
            style="font-size: 40px; padding: 0 20px"
            (click)="openAdmain()"
            name="add-circle"
          ></ion-icon>
        </ion-buttons>
      </div>
      <ion-card-content style="padding-top: 0" color="dark">
        <p>
          Silahkan mengisi aduan apabila ditemukan hal-hal yang tidak berkenan
        </p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <ion-grid>
    <ion-note color="light" class="ion-margin-start">
      <b></b>
    </ion-note>

    <!-- Card List Aduan dari user -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let data of DataRecord; let i = index">
      <ion-card-content style="padding-bottom: 0; color: black">
        {{data.jenis_aduan}}.
      </ion-card-content>

      <ion-card-content
        style="padding-top: 4px; padding-bottom: 0"
        color="dark"
      >
        PIC: {{(data.pic_nrp) ? data.pic_nrp : ''}} {{(data.pic_name) ?
        data.pic_name : ''}}
        <ion-badge color="warning" *ngIf="data.pic_nrp==null">
          waiting
        </ion-badge>
      </ion-card-content>
      <ion-card-content
        style="padding-top: 4px; padding-bottom: 0"
        color="dark"
      >
        <ion-badge color="{{statusBagde(data.status)}}">
          {{data.status}}
        </ion-badge>
      </ion-card-content>
      <ion-card-content
        style="padding-top: 4px; padding-bottom: 0"
        color="dark"
      >
        <ion-icon name="location-outline"></ion-icon>{{data.lokasi}}
      </ion-card-content>
      <ion-progress-bar
        value="{{getValueStatusBar(data.status)}}"
        buffer="{{getValueStatusBar(data.status)}}"
        color="{{statusBagde(data.status)}}"
      ></ion-progress-bar>
      <div *ngIf="data.status!=='CLOSED'" style="height: 20px"></div>

      <ion-button
        *ngIf="data.status==='CLOSED' && data.bintang==null"
        (click)="openModalConfirm(data)"
        fill="clear"
        >Konfirmasi</ion-button
      >
      <ion-button
        *ngIf="data.status==='CLOSED' && data.bintang!==null"
        (click)="openModalRatingAduan(data)"
        fill="clear"
        >Lihat Rating</ion-button
      >
    </ion-card>
  </ion-grid>
  <ion-fab (click)="onBack()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
