<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="util.openSideMenu()" color="light">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
     Home
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main-header"></div>
  <ion-grid>
    <ion-note color="light" class="ion-margin-start">
      <div class="ion-text-center">
      <ion-label>ASTO SERVICE APP - Where It All begin!</ion-label>
      </div>
    </ion-note>
    <ion-note color="light" class="ion-margin-start">
      <div class="ion-text-center">
        <ion-label>Selamat datang {{this.serviceService.getUserName()}} !</ion-label>
      </div>
    </ion-note>
    <br>
    <br>

    <ion-row class="ion-margin-horizontal">
      <ion-col
        *ngIf="this.serviceService.isHasAccess('CATERING', 'COMPLAINT', 'ADD') || this.serviceService.isHasAccess('CATERING', 'RATING', 'ADD')"
        size="6">
        <div *ngFor="let item of catering">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <div align="center" (click)="openRest()">
                <ion-thumbnail [style.background]="item?.background">
                  <img [src]="item?.src" />
                </ion-thumbnail>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="dark">{{ item?.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col *ngIf="this.serviceService.isHasAccess('LAUNDRY', 'COMPLAINT', 'ADD')" size="6">
        <div *ngFor="let item of laundry">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <div align="center" (click)="openLaundry()">
                <ion-thumbnail [style.background]="item?.background">
                  <img [src]="item?.src" />
                </ion-thumbnail>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="dark">{{ item?.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col
        *ngIf="this.serviceService.isHasAccess('HOUSEKEEPING', 'COMPLAINT', 'ADD') || this.serviceService.isHasAccess('HOUSEKEEPING', 'TASK', 'ADD')"
        size="6">
        <div *ngFor="let item of housekeeping">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <div align="center" (click)="openHkeeping()">
                <ion-thumbnail [style.background]="item?.background">
                  <img [src]="item?.src" />
                </ion-thumbnail>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="dark">{{ item?.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col
        *ngIf="this.serviceService.isHasAccess('MAINTENANCE', 'COMPLAINT', 'ADD') || this.serviceService.isHasAccess('MAINTENANCE', 'TASK', 'ADD')"
        size="6">
        <div *ngFor="let item of maintenance">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <div align="center" (click)="openMaintenance()">
                <ion-thumbnail [style.background]="item?.background">
                  <img [src]="item?.src" />
                </ion-thumbnail>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="dark">{{ item?.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col *ngIf="this.serviceService.isHasAccessDashboard()" size="6">
        <div *ngFor="let item of dashboard">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <div align="center" (click)="openDashboard()">
                <ion-thumbnail [style.background]="item?.background">
                  <img [src]="item?.src" />
                </ion-thumbnail>
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-label color="dark">{{ item?.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col *ngFor="let item of info" size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center" (click)="openInfo()">
              <ion-thumbnail [style.background]="item?.background">
                <img [src]="item?.src" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">{{ item?.name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>