<ion-content [fullscreen]="true" color="light">
  <ion-header class="ion-no-border">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button (click)="util.openSideMenu()" color="primary">
          <ion-icon name="apps-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label color="primary">
      Form Rating Catering
    </ion-label>
    <ion-buttons slot="end">
      <ion-icon (click)="onBack()" name="chevron-back-outline" color="primary"></ion-icon>
    </ion-buttons>
    </ion-item>
   </ion-header>

  <div class="main_content ion-padding">

    <ion-label class="sub_heading">Deskripsi</ion-label>
    <ion-label class="sub_heading">Silahkan mengisi rating nilai sesuai dengan pilihan</ion-label>

  <div>
  <form class="container" [formGroup]="FormRatingCatering" (ngSubmit)="submitRatingcatering()">
    <ion-item>  
    <ion-label>1. Bagaimana kebersihan kantin kami saat anda makan?</ion-label>
        <ion-select formControlName="nilai1">
          <ion-select-option value="-3">Tidak Bersih</ion-select-option>
          <ion-select-option value="-1">Kurang Bersih</ion-select-option>
          <ion-select-option value="1">Bersih</ion-select-option>
                    <ion-select-option value="2">Cukup Bersih</ion-select-option>
          <ion-select-option value="3">Sangat Bersih Sekali</ion-select-option>
         </ion-select>
        </ion-item>   
        <ion-item> 
         <ion-label>2. Apakah anda menyukai cara kami menyajikan makan?</ion-label>
         <ion-select formControlName="nilai2">
           <ion-select-option value="-3">Tidak Sama Sekali</ion-select-option>
           <ion-select-option value="0">Biasa Saja</ion-select-option>
           <ion-select-option value="1">Cukup Suka</ion-select-option>
           <ion-select-option value="2">Suka Sekali</ion-select-option>
           <ion-select-option value="3">Sangat Suka Sekali</ion-select-option>
          </ion-select>
        </ion-item>  
        <ion-item> 
          <ion-label>3. Bagaimana cara Waiters kami memberi salam/menyapa anda?</ion-label>
          <ion-select formControlName="nilai3">
            <ion-select-option value="-3">Tidak Ramah</ion-select-option>
            <ion-select-option value="-2">Tidak Ada</ion-select-option>
            <ion-select-option value="0">Kurang Ramah</ion-select-option>
            <ion-select-option value="2">Cukup Ramah</ion-select-option>
            <ion-select-option value="3">Sangat Ramah</ion-select-option>
           </ion-select>
         </ion-item>  
     
     <ion-item> 
          <ion-label>4. Apakah Waiters kami sudah senyum pada anda?</ion-label>
          <ion-select formControlName="nilai4">
            <ion-select-option value="0">Belum</ion-select-option>
            <ion-select-option value="4">Sudah</ion-select-option>
           </ion-select>
         </ion-item>  
     
     <ion-item> 
          <ion-label>5. Bagaimana pilihan menu kami saat ini?</ion-label>
          <ion-select formControlName="nilai5">
            <ion-select-option value="-3">Sangat Buruk</ion-select-option>
            <ion-select-option value="-2">Buruk</ion-select-option>
            <ion-select-option value="1">Cukup</ion-select-option>
            <ion-select-option value="2">Baik</ion-select-option>
            <ion-select-option value="3">Sangat Baik Sekali</ion-select-option>
           </ion-select>
         </ion-item>  
     
     <ion-item> 
          <ion-label>6. Bagaimana aroma makanan kami saat ini?</ion-label>
          <ion-select formControlName="nilai6">
            <ion-select-option value="-3">Berbau Tidak Sedap</ion-select-option>
            <ion-select-option value="-2">Agak Bau</ion-select-option>
            <ion-select-option value="1">Biasa Saja</ion-select-option>
            <ion-select-option value="2">Suka</ion-select-option>
            <ion-select-option value="3">Sangat Suka Sekali</ion-select-option>
           </ion-select>
         </ion-item> 
     
     <ion-item> 
          <ion-label>7. Bagaimana rasa makanan kami saat ini?</ion-label>
          <ion-select formControlName="nilai7">
            <ion-select-option value="-3">Tidak Enak</ion-select-option>
            <ion-select-option value="-1">Kurang Enak</ion-select-option>
            <ion-select-option value="0">Biasa Saja</ion-select-option>
            <ion-select-option value="1">Lumayan Enak</ion-select-option>
            <ion-select-option value="2">Lezat Nikmat</ion-select-option>
           </ion-select>
         </ion-item> 
     
     <ion-item> 
          <ion-label>8. Bagaimana tekstur makanan kami saat ini?</ion-label>
          <ion-select formControlName="nilai8">
            <ion-select-option value="-3">Alot</ion-select-option>
            <ion-select-option value="-2">Kurang Pas</ion-select-option>
            <ion-select-option value="1">Pas</ion-select-option>
            <ion-select-option value="2">Pas Sekali</ion-select-option>
            <ion-select-option value="3">Idola</ion-select-option>
           </ion-select>
         </ion-item> 
         <ion-item>
          <ion-input type="text" name="kritik_saran" placeholder="Kritik dan saran"  formControlName="saran"></ion-input>
        </ion-item>    

        <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
      </form>
    </div>
  </div>
</ion-content>
