
 <ion-header mode="md" class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-chip class="dash" color="dark">Developer</ion-chip>
    <div class="flex_title">
      <ion-label></ion-label>
      <ion-icon name="close" (click)="close()"></ion-icon>
    </div>
    <ion-row>
      <ion-col style="padding-left: 0px;">
        <p align="center">
          <ion-thumbnail>
            <img src="assets/images/asa.jpg"/>
          </ion-thumbnail>
        </p>
        <p align="center" class="dash" color="dark">Profil ASTO</p>
        <p align="center"> <ion-note color="dark">ASTO SERVICE APP (ASA) Where It All Began</ion-note><br>
        <ion-note  color="dark"> Developed By Lintas Orbit Jaya Tech (L.O.J)</ion-note></p>
        <p align="center">
          <ion-thumbnail>
            <img src="assets/images/loj.jpg"/>
          </ion-thumbnail>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-left: 0px;">
        <p align="center"> <ion-note color="dark">Asto Service App atau ASA adalah suatu aplikasi yang
          bertujuan untuk meningkatkan kualitas alur komunikasi
          serta sebagai media penampung aspirasi, komplain,
          dan bantuan yang bersifat genting.</ion-note></p>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
