<ion-content [fullscreen]="true"  scrollY="false">
  <div class="main_content_div">
    <div class="flex_title">
      <ion-icon color="light" name="close" (click)="close()"></ion-icon>
    </div>
    <ion-row style="margin-bottom: 10px;">
      <ion-col size="12">
        <ion-icon name="logo-nodejs"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>
          <ion-label>TECHNOLOGY FEATURE</ion-label><br>
      </ion-col>
    </ion-row>
  </div>
  <ion-slides>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="assets/images/angular.png" />
        <h3>Angular JS</h3>
        <p style="padding: 0 10px; font-size: 15px;">Asto Service Application (ASA) dibuat dengan menggunakan Framework Angular. Framework ini telah dipercaya oleh kalangan developer dalam membangun aplikasi yang kompleks dan andal
          serta dapat menjadi salah satu pilihan terbaik dalam membangun aplikasi cross-platform mobile dengan Ionic Framework.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/java.png" />
        <h3>Java Spring Boot</h3>
        <p style="padding: 0 10px;font-size: 15px;">Asto Service Application (ASA) didukung dengan bahasa pemprograman Java dengan menggunakan framework Spring Boot pada sisi backend. 
        Penggunaan framework Spring Boot dapat membantu dalam pembuatan aplikasi kompleks dengan security yang lebih baik dan aman.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/postgre.png" />
        <h3>DBMS PostgreSQL</h3>
        <p style="padding: 0 10px;font-size: 15px;">Asto Service Application (ASA) menggunakan DBMS PostgreSQL dalam menyimpan data. Sistem basis data relasional ini bersifat open source yang telah dikembangkan selama 30 tahun  
          serta telah mendapatkan reputasi yang baik dalam hal keandalan, ketahanan fitur, dan kinerja.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/ionic.png" />
        <h3>Ionic Framework</h3>
        <p style="padding: 0 10px;font-size: 15px;">Asto Service Application (ASA) dibangun dengan Ionic Framework yakni sebuah framework aplikasi mobile berbasis HTML5 yang dapat digunakan untuk mengembangkan 
          aplikasi mobile dengan teknologi web seperti HTML, CSS, dan Javascript.</p>
      </ion-slide>
    </ion-slides>
  </ion-slides>
  <div style="display: flex;flex-direction: row; justify-content: center;">
  </div>
</ion-content>