<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="signout()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="light">
     Dashboard Tugas Housekeeping
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="this.serviceService.isHasAccess('HOUSEKEEPING', 'TASK', 'VIEW'); else noAccess">
      <div class="segments">
        <ion-segment mode="md" [(ngModel)]="current">
          <ion-segment-button [value]="1">
            <ion-label>Kamar</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="2">
            <ion-label>Non Kamar</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div *ngIf="current == 1 || current == null">
        <div class="account">
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item button *ngFor="let data of DataRecordRoom; let i = index" (click)="openModalRoom(data)">
                <ion-label>
                  <h2>User: {{data.user.name}}</h2>
                  <p>{{data.mess}} No. {{data.no_kamar}}</p>
                  <p>Poin: {{countPoinRoom(data)}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </div>
      </div>

      <div *ngIf="current == 2">
        <div class="account">
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item button *ngFor="let data of DataRecordNonRoom; let i = index" (click)="openModalNonRoom(data)">
                <ion-label>
                  <h2>User: {{data.user.name}}</h2>
                  <p>{{data.mess}}</p>
                  <p>Poin: {{countPoinNonRoom(data)}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </div>
      </div>
    </div>

    <ng-template #noAccess>
      <ion-content>
        <ion-label class="center">
          <div class="no-access">
            <img src="assets/images/no-access.png" />
            <div>Maaf,</div>
            <div>Anda tidak punya akses !</div>
          </div>
        </ion-label>
      </ion-content>
    </ng-template>

  </div>
</ion-content>