<!--
  Authors : bunchdevelopers (Rahul Jograna)
  Website : https://bunchdevelopers.com/
  App Name : ionic6Template Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://bunchdevelopers.com/license
  Copyright and Good Faith Purchasers © 2021-present bunchdevelopers.
 -->
 <ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger">Back</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signout()"><ion-label>Exit</ion-label>
        <ion-icon slot="end" name="exit-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label color="dark">
    </ion-label>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  
  <div class="main-header"><ion-chip class="dash" color="light">DASHBOARD TUGAS HOUSEKEEPING</ion-chip>
  </div>
   <ion-item lines="none">
    <ion-thumbnail>
      <img src="assets/images/cus.png"/>
    </ion-thumbnail>
    <div class="name">
      <ion-label class="center"><div>
        <div>
        Selamat Datang {{Username}}
        </div></div></ion-label>
    </div>
  </ion-item>

  <ion-content class="ion-padding">
    <div class="main-header"><ion-chip class="dash" color="light">Inbox Tugas Housekeeping</ion-chip></div>

    <div class="segments">
      <ion-segment mode="md" [(ngModel)]="current">
        <ion-segment-button [value]="1">
          <ion-label>Kamar</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2">
          <ion-label>Non Kamar</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <div *ngIf="current == 1">
    
        <div class="account"><br>
          <form class="container" [formGroup]="FormStatus" (ngSubmit)="submitStatus()">
         
          <ion-grid class="contnr">
                 <ul color="dark" *ngFor="let data of DataRecord; let i = index">
                <ion-label>Komponen Kamar / Room</ion-label>
                <ion-progress-bar value="" buffer="1"></ion-progress-bar>
                <li>Lantai Kamar:{{data.lantai_kamar}}</li>
                <li>Lantai Toilet:{{data.lantai_toilet}}</li>
                <li>Nomor Kamar:{{data.no_kamar}}</li>
                <li>Nama Mess:{{data.mess}}</li>
                <li>Edit Tugas</li>
                 <ion-select formControlName="status">
              <ion-select-option ngvalue="TRUE">TRUE</ion-select-option>
              <ion-select-option ngvalue="FALSE">FALSE</ion-select-option>
              </ion-select> 
              <ion-button type="submit" color="primary">Simpan</ion-button>
                <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
                <ion-progress-bar value="0" buffer="1"></ion-progress-bar>
              </ul>
          </ion-grid>
        </form>
        </div>
  
  
    </div>
  
    <div *ngIf="current == 2">
      <div class="account"><br>
        <form class="container" [formGroup]="FormStatus" (ngSubmit)="submitStatus()">
        <ion-grid class="contnr">
               <ul color="dark" *ngFor="let data of DataRecord; let i = index">
              <ion-label>Komponen Non Kamar / Room</ion-label>
              <ion-progress-bar value="" buffer="1"></ion-progress-bar>
              <li>Lantai Kamar:{{data.lantai_kamar}}</li>
              <li>Lantai Toilet:{{data.lantai_toilet}}</li>
              <li>Nomor Kamar:{{data.no_kamar}}</li>
              <li>Nama Mess:{{data.mess}}</li>
              <li>Edit Tugas</li>
               <ion-select formControlName="status">
            <ion-select-option ngvalue="TRUE">TRUE</ion-select-option>
            <ion-select-option ngvalue="FALSE">FALSE</ion-select-option>
            </ion-select> 
            <ion-button type="submit" color="primary">Simpan</ion-button>
              <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
              <ion-progress-bar value="0" buffer="1"></ion-progress-bar>
            </ul>
        </ion-grid>
      </form>
      </div>
      
  
    </div>



  </ion-content>
